<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Log In</title>
</head>

<body>
    <p>{{ error }}</p>
    <form class="" action="/login" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" value="{{ user.username}}" placeholder="username">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password">
        <br>
        <button type="submit" name="button">login</button>
    </form>
</body>

</html>
